useDynLib(rebmix, .registration = TRUE, .fixes = "C_")

import("methods", "stats", "utils", "graphics", "grDevices", "mvtnorm")

export("kseq")

exportClasses("THETA",
              "RNGMIX",
              "RNGMVNORM",
              "REBMIX",
              "REBMVNORM",
              "REBMIX.boot",
              "REBMVNORM.boot",
              "RCLRMIX",
              "RCLRMVNORM",
              "RCLSMIX",
              "RCLSMVNORM",
              "RCLS.chunk")

exportMethods("RNGMIX",
              "REBMIX",
              "RCLRMIX",
              "RCLSMIX",
              "logL",
              "AIC",
              "AIC3",
              "AIC4",
              "AICc",
              "CAIC",
              "BIC",
              "HQC",
              "MDL2",
              "MDL5",
              "AWE",
              "CLC",
              "ICL",
              "ICLBIC",
              "PRD",
              "SSE",
              "PC",
              "show",
              "summary",
              "plot",
              "coef",
              "boot",
              "demix",
              "pemix",
              "dfmix",
              "pfmix",
              "split",
              "chunk",
              "BFSMIX",
              "Zp",
              "g.d",
              "g.Theta1<-",
              "g.Theta2<-",              
              "g.Dataset.name",
              "g.rseed",
              "g.n",
              "g.Theta",
              "g.Dataset",
              "g.Zt",
              "g.w",
              "g.Variables",
              "g.ymin",
              "g.ymax",
              "g.Preprocessing",
              "g.cmax",
              "g.Criterion",
              "g.pdf",
              "g.theta1",
              "g.theta2",
              "g.K",
              "g.y0",
              "g.ar",
              "g.Restraints",
              "g.summary",
              "g.pos",
              "g.opt.c",
              "g.opt.IC",
              "g.opt.logL",
              "g.opt.D",
              "g.all.K",
              "g.all.IC",
              "g.Bootstrap",
              "g.B",
              "g.replace",
              "g.prob",
              "g.c",
              "g.c.se",
              "g.c.cv",
              "g.c.mode",
              "g.c.prob",
              "g.w.se",
              "g.w.cv",
              "g.Theta.se",
              "g.Theta.cv",
              "g.Zp",
              "g.p",
              "g.pi",
              "g.P",
              "g.tau",
              "g.from",
              "g.to",
              "g.EN",
              "g.ED",
              "g.o",
              "g.s",
              "g.ntrain",
              "g.ntest",
              "g.CM",
              "g.Accuracy",
              "g.Error",
              "g.Precision",
              "g.Sensitivity",
              "g.Specificity",
              "g.Chunks",
              "g.levels",
              "g.train",
              "g.test")
