useDynLib("rebmix")

import("methods", "stats", "utils", "graphics", "grDevices")

export("RNGMIX",
       "REBMIX",
       "RCLSMIX",
       "logL",
       "AIC",
       "AIC3",
       "AIC4",
       "AICc",
       "CAIC",
       "BIC",
       "HQC",
       "MDL2",
       "MDL5",
       "AWE",
       "CLC",
       "ICL",
       "ICLBIC",
       "PRD",
       "SSE",
       "PC",
       "demix",
       "pemix",
       "dfmix",
       "pfmix",
       "kseq",
       "show")

exportClasses("RNGMIX",
              "RNGMVNORM",
              "REBMIX",
              "REBMVNORM")

exportMethods("RNGMIX",
              "REBMIX",
              "plot",
              "summary",
              "coef",
              "boot")

#S3method("print", "boot.REBMIX")
#S3method("summary", "boot.REBMIX")
