useDynLib("rebmix")

import("methods", "stats", "utils", "graphics", "grDevices", "mvtnorm")

export("pfmix",
       "kseq")

exportClasses("RNGMIX",
              "RNGMVNORM",
              "REBMIX",
              "REBMVNORM",
              "REBMIX.boot",
              "REBMVNORM.boot",
              "RCLRMIX",
              "RCLRMVNORM",
              "RCLSMIX",
              "RCLSMVNORM")

exportMethods("RNGMIX",
              "REBMIX",
              "RCLRMIX",
              "RCLSMIX",
              "logL",
              "AIC",
              "AIC3",
              "AIC4",
              "AICc",
              "CAIC",
              "BIC",
              "HQC",
              "MDL2",
              "MDL5",
              "AWE",
              "CLC",
              "ICL",
              "ICLBIC",
              "PRD",
              "SSE",
              "PC",
              "show",
              "summary",
              "plot",
              "coef",
              "boot",
              "demix",
              "pemix",
              "dfmix")
